<section class="card card-outline card-primary">
    <div class="card-header">
        <h1 class="card-title">{{ form_title }}</h1>
    </div>

    <div class="card-body">
        {{ form_start(form, {'action': action|default(''), 'method': method|default('POST'), 'attr': {'class': 'form-horizontal'}}) }}
            <div class="row form-group">
                {{ form_label(form.name, 'Nom du véhicule', {'label_attr': {'class': 'col-3 control-label'}}) }}
                <div class="col-5">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row form-group">
                {{ form_label(form.purchaseDate, 'Date d\'achat', {'label_attr': {'class': 'col-3 control-label'}}) }}
                <div class="col-5">
                    {{ form_widget(form.purchaseDate, {'attr': {'class': 'form-control flatpickr-input'}}) }}
                </div>
            </div>

            <div class="row form-group">
                {{ form_label(form.modelDate, 'Mise en circulation', {'label_attr': {'class': 'col-3 control-label'}}) }}
                <div class="col-5">
                    {{ form_widget(form.modelDate, {'attr': {'class': 'form-control flatpickr-input'}}) }}
                </div>
            </div>

            <div class="row form-group">
                {{ form_label(form.fuelType, 'Type de carburant', {'label_attr': {'class': 'col-3 control-label'}}) }}
                <div class="col-5">{{ form_widget(form.fuelType, {'attr': {'class': 'form-select'}}) }}</div>
            </div>

            <div class="row form-group">
                {{ form_label(form.fuelCapacity, 'Capacité du réservoir', {'label_attr': {'class': 'col-3 control-label'}}) }}
                <div class="col-5">
                    <div class="input-group">
                        {{ form_widget(form.fuelCapacity, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-text col-3">Litres</span>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                {{ form_label(form.fuelConsumption, 'Consommation', {'label_attr': {'class': 'col-3 control-label'}}) }}
                <div class="col-5">
                    <div class="input-group">
                        {{ form_widget(form.fuelConsumption, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-text col-3">L <sub>/100</sub></span>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                {{ form_label(form.mileageFromOdometers, 'Kilométrage', {'label_attr': {'class': 'col-3 control-label'}}) }}
                <div class="col-5"> {{ form_widget(form.mileageFromOdometers, {'attr': {'class': 'form-control'}}) }}</div>
            </div>

        </div>

        <div class="card-footer">
            <button class="btn btn-flat btn-outline-secondary">
                <i class="fas fa-times mr-2"></i>
                {{ button_label|default('Annuler') }}
            </button>

            <button type="submit" class="btn btn-flat btn-primary float-right">
                <i class="fas fa-save mr-2"></i>
                {{ button_label|default('Sauvegarder') }}
            </button>
        </div>
    {{ form_end(form) }}
</section>
