{% extends 'base.html.twig' %}

{% block title %}Refuelling index{% endblock %}

{% block body %}
    <h1>Refuelling index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for refuelling in refuellings %}
            <tr>
                <td>{{ refuelling.id }}</td>
                <td>{{ refuelling.price }}</td>
                <td>{{ refuelling.quantity }}</td>
                <td>
                    <a href="{{ path('vehicle_refuelling_show', {'id': refuelling.id}) }}">show</a>
                    <a href="{{ path('vehicle_refuelling_edit', {'id': refuelling.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicle_refuelling_new') }}">Create new</a>
{% endblock %}
