<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <title>Monitocar > {% block title %}{% endblock %}</title>

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <div class="sidebar-wrapper">{% include 'menu/menu.html.twig' %}</div>
            {% include 'header.html.twig' %}

            <div class="content-wrapper px-4 py-2">

                {% if app.flashes is not empty %}
                    <div style="position: absolute; top: 0; right: 0;">
                        {% for type, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header">
                                        <span class="badge badge-{{ type }}">{{ type|upper }}</span>
                                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="toast-body">
                                        {{ message }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% block body %}{% endblock %}
            </div>
        </div>

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
